.amazon-solution__results {
  position: absolute;
  background-color: gray;
  width: 300px;
}

.amazon-solution__results ul {
  list-style: none;
  padding-left: 1rem;
}

.amazon-solution__autocomplete {
  position: relative;
}